.bg-primary{
    background-color: rgba(139, 0, 0, 0.959) !important;
}

.pie_pgn{
   
    background-color: rgba(139, 0, 0, 0.959) !important;
}

.breadcrumb{
    background-color: rgba(139, 0, 0, 0.959) !important;
     
}
.text-a{
    text-align:right ;
    
}


